@font-face {
  font-family: 'iconfont';  /* project id 2140683 */
  src: url('//at.alicdn.com/t/font_2140683_874r2axt2x6.eot');
  src: url('//at.alicdn.com/t/font_2140683_874r2axt2x6.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2140683_874r2axt2x6.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2140683_874r2axt2x6.woff') format('woff'),
  url('//at.alicdn.com/t/font_2140683_874r2axt2x6.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2140683_874r2axt2x6.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 26px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gonggao:before {
  content: "\e63d";
}

.icon-fujian:before {
  content: "\e85a";
}


.icon-liaotian:before {
  content: "\e61f";
}

.icon-suoyouhuodong:before {
  content: "\e603";
}

.icon-renshu:before {
  content: "\e650";
}

.icon-shangchuantouxiang:before {
  content: "\e7ca";
}

.icon-canjiagongzuoshijian:before {
  content: "\e627";
}

.icon-shezhi:before {
  content: "\e62a";
}

.icon-guanli:before {
  content: "\e6fd";
}

.icon-huodong:before {
  content: "\e6b0";
}

.icon-huodong1:before {
  content: "\e60c";
}

.icon-julebu:before {
  content: "\e621";
}

.icon-julebu1:before {
  content: "\e6ae";
}

.icon-xuexiaodaishenpi:before {
  content: "\e606";
}

.icon-xuexiaoyishenpi:before {
  content: "\e607";
}

.icon-zhidaolaoshidaishenpi:before {
  content: "\e608";
}

.icon-xueyuanyishenpi:before {
  content: "\e609";
}

.icon-xueyuandaishenpi:before {
  content: "\e60a";
}

.icon-zhidaolaoshiyishenpi:before {
  content: "\e60b";
}

.icon-wanjie:before {
  content: "\e664";
}

.icon-yaoqingchengyuan:before {
  content: "\e62d";
}

.icon-two-dimensional-code:before {
  content: "\e602";
}

.icon-activity:before {
  content: "\e63c";
}

.icon-xiangqing:before {
  content: "\e625";
}

.icon-tijiao:before {
  content: "\e66f";
}

.icon-jiarujulebu:before {
  content: "\e66e";
}

.icon-assist-cancel:before {
  content: "\e783";
}

.icon-B:before {
  content: "\e6fe";
}

.icon-chakan:before {
  content: "\e61b";
}

.icon-shenpi:before {
  content: "\e626";
}

.icon-xingbienan:before {
  content: "\e631";
}

.icon-xingbienv:before {
  content: "\e642";
}

.icon-paixu:before {
  content: "\e60d";
}

.icon-paixu1:before {
  content: "\e64e";
}

.icon-guanliyuan:before {
  content: "\e696";
}

.icon-guanliyuan1:before {
  content: "\e601";
}

.icon-chengyuan:before {
  content: "\e600";
}

.icon-laoshi:before {
  content: "\e61a";
}

.icon-delete:before {
  content: "\e6a0";
}

.icon-editor1:before {
  content: "\e7ab";
}

.icon-kidslock:before {
  content: "\e70c";
}

.icon-delete1:before {
  content: "\e604";
}